{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>{{ _('Sign In') }}</h1>
    {{ wtf.quick_form(form) }}
    <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
    <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
    </p>
{% endblock %}
